:root {
    --tile__max-width__screen-sm: 25%;
    --tile__max-width__screen-md: 20%;
    --tile__max-width__screen-lg: 15%;
}

.tile {
    display: inline-block;
    border-radius: var(--radius-md);

    @media screen and (min-width: 0px) {
        margin: var(--space-2);
        width: var(--tile__max-width__screen-sm);
    }

    @media screen and (min-width: 768px) {
        margin: var(--space-4);
        max-width: var(--tile__max-width__screen-md);
    }

    @media screen and (min-width: 1280px) {
        margin: var(--space-5);
        max-width: var(--tile__max-width__screen-lg);
    }
}

.tile:hover {
    cursor: pointer;
}