.modal-backdrop {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}

.modal-content {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: var(--space-8);
    text-align: center;

    img {
        border-radius: var(--radius-md);
        margin: var(--space-10) auto;
        max-height: 85vh; max-width: 85vw;
    }
}