.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: var(--space-2) var(--space-6);

    .grid__controls {
        margin-bottom: var(--space-5);
    }
    .grid__tiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}