.grid {
    padding: var(--space-2) 0;

    .grid__controls {
        margin-bottom: var(--space-5);
    }

    .grid__tiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}