/* Component-specific tweaks that build on .btn base styles in style.css */
.btn[type="button"],
.btn[type="submit"] {
    letter-spacing: .2px;
    text-transform: uppercase;
}

.btn[type="close"] {
    gap: 0;
    padding: 0.25rem;
    width: 40px;
    height: 40px;
    position: absolute;
    color: var(--bg);

    font-weight: 700;
    border-width: 2px;
    border-color: var(--bg);
    border-radius: var(--radius-sm);
    right: 0;
    top: 0;
    transform: translate(-100%, 100%);
}
.btn[type="close"]::after {
    content: "x"
}

.btn[type="nav"] {
    height: var(--grid-controls__height);
    width: var(--grid-controls__width);
    margin: auto var(--space-2);
}
.btn[type="nav"]:not([disabled]) {
    color: var(--fg);
    background-color: var(--accent);
}
.btn[type="nav"]:first-of-type {
    margin-left: 0;
}
.btn[type="nav"]:last-of-type {
    margin-right: 0;
}

.btn[type="tab"] {
    background-color: transparent;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    border: 1px solid var(--border);

    margin-bottom: -8px;
}
.btn[type="tab"].active {
    background-color: var(--accent);
    color: var(--accent-contrast);
}
.btn[type="tab"]:not(:first-of-type) {
    margin-left: var(--space-2);
}
.btn[type="tab"]:hover {
    border: 1px solid var(--accent);
    background-color: transparent;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}